BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false
BreakBeforeBraces: Attach
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInSquareBrackets: false
AlignAfterOpenBracket: Align
# AlignConsecutiveAssignments: AcrossComments
# AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveMacros: AcrossComments
# AllowShortIfStatementsOnASingleLine: false
# BreakBeforeBraces: Custom
# BraceWrapping:
#   AfterStruct: false
#   AfterUnion: false
#   AfterClass: false
#   BeforeCatch: false
#   BeforeElse: false
#   IndentBraces: false
